.contacto__div{
    border: solid 2px orangered;
    margin: 30px 80px 30px 80px;
    text-align: center;
    font-size: large;
    font-family: Aardvark;
    }
    .contacto__titulo{font-size: larger;
        font-family: Aardvark;}
    
