


@media screen and (max-width:426px){
        .menu__index{
            width: 60%;
        }
        a.col-12.titulo{
            justify-content: unset;
        }
        iframe{
            width: 200px;
            height: 250px;
        }
        .col-3{
            width:40%
        }

}

@media (min-width: 427px) and (max-width:1025px){
    .menu__index{
        width:30%;
    }
    a.col-12.titulo{
        justify-content: unset;
    }
    iframe{
        height: 300px;
        width: 300px;
    }
    .col-3{
        width: 17%;
    }
}