.div__entradas{
    background-image: url("../multimedia/entradas.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu__titulos{
    text-align: center;
    padding-top: 350px;
    font-size: 50px;
    font-weight: bolder;
    color: black;
    font-family: Aardvark;
    
}

.div__platos{
    background-image: url("../multimedia/principal.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div__bebidas{background-image: url("../multimedia/cerveza.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
.div__postres{background-image: url("../multimedia/postre.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
.menu__texto2{
    display: flex;
    justify-content: center;
    align-content: space-between;
    padding-bottom: 20px;
    font-family: Aardvark;
}
