.fondo__nosotros{
    background-image: url("../Multimedia/mision\ plaza\ 2.jpg");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    grid-area: nosotros;
}
.section__parrafo{
    grid-area: parrafo;
    
}
.parrafo__nosotros{
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: Aardvark;
    font-size: larger;
}