
.boton__reserva{
    font-family: Aardvark;
    border: orangered;
    background-color: orangered;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 5px black;
    border-radius: 20px;
    padding: 15px;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    margin: 200px 550px;
    transition: all 0.4s;
    &:hover{
        background-color: tomato;
        font-weight: lighter;
    }
}
