$botones: (
    menu:#ff4400
);
@each $red, $color in $botones {
    .menu__index#{$red} {
        background-color: $color;
    }
    
}
$estilos:(
    centro: center,
    decoracion: none

);
.aside__index{
    text-align: map-get($estilos, centro);
    justify-self: map-get($estilos, centro );
    align-self: map-get($estilos, centro );
}
.nosotros__index{
    text-decoration: map-get($estilos, decoracion );
}

@mixin sizes ($height,$width) {
    height: $height;
    width: $width;
}
.logo-instagram {
    @include sizes (21px, 26px);
    display: flex;
    color: transparent;
    justify-content: end; }
    .logo-instagram:hover {
        color: black; }

.logo-facebook{
    @extend.logo-instagram;
    justify-content: start;
}

.div__entradas {
    background-image: url("../Multimedia/entradas.jpg");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.fondo__nosotros{
    @extend.div__entradas;
    background-image: url("../Multimedia/misionplaza2.jpg");
    margin-top: 0%;
}

.div__platos{
    @extend.div__entradas;
    background-image: url("../Multimedia/principal.jpg");
}

.div__bebidas{
    @extend.div__entradas;
    background-image: url("../Multimedia/cerveza.jpg");
}
.div__postres{
    @extend.div__entradas;
    background-image: url("../Multimedia/postre.jpg");
}
.fondo__reserva{
    @extend.div__entradas;
    background-image: url("../Multimedia/menu.jpg");
    height: 500px;
}

.titulo__logo{
    @include sizes(99px,100px)
}


