.menu__indexmenu {
  background-color: #ff4400; }

.aside__index {
  text-align: center;
  justify-self: center;
  align-self: center; }

.nosotros__index {
  text-decoration: none; }

.logo-instagram, .logo-facebook {
  height: 21px;
  width: 26px;
  display: flex;
  color: transparent;
  justify-content: end; }

.logo-instagram:hover, .logo-facebook:hover {
  color: black; }

.logo-facebook {
  justify-content: start; }

.div__entradas, .div__platos, .div__bebidas, .div__postres, .fondo__reserva {
  background-image: url("../Multimedia/entradas.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.div__platos {
  background-image: url("../Multimedia/principal.jpg"); }

.div__bebidas {
  background-image: url("../Multimedia/cerveza.jpg"); }

.div__postres {
  background-image: url("../Multimedia/postre.jpg"); }

.fondo__reserva {
  background-image: url("../Multimedia/menu.jpg");
  height: 500px; }

.titulo__logo {
  height: 99px;
  width: 100px; }

.header {
  position: sticky;
  top: 0px;
  background-color: rgba(248, 71, 17, 0.972);
  z-index: 2;
  grid-area: header;
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: Aardvark; }

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 70%;
  margin-top: 5px; }

.fa:hover {
  opacity: 0.7; }

/* Facebook*/
.fa-facebook {
  background: #3B5998;
  color: white; }

/* Twitter */
.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); }

.pie {
  text-align: center;
  background-color: rgba(248, 71, 17, 0.972);
  grid-area: pie;
  font-family: Aardvark; }

.fondo__nosotros {
  background-image: url("../Multimedia/misionplaza2.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0%;
  grid-area: nosotros; }

.section__parrafo {
  grid-area: parrafo; }

.parrafo__nosotros {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-family: Aardvark;
  font-size: larger; }

.contacto__div {
  border: solid 2px orangered;
  margin: 30px 80px 30px 80px;
  text-align: center;
  font-size: large;
  font-family: Aardvark; }

.contacto__titulo {
  font-size: larger;
  font-family: Aardvark; }

.div__entradas, .div__platos, .div__bebidas, .div__postres, .fondo__reserva {
  background-image: url("../Multimedia/entradas.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.menu__titulos {
  text-align: center;
  padding-top: 350px;
  font-size: 50px;
  font-weight: bolder;
  color: black;
  font-family: Aardvark; }

.div__platos {
  background-image: url("../Multimedia/principal.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.div__bebidas {
  background-image: url("../Multimedia/cerveza.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.div__postres {
  background-image: url("../Multimedia/postre.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.menu__texto2 {
  display: flex;
  justify-content: center;
  align-content: space-between;
  padding-bottom: 20px;
  font-family: Aardvark; }

.fondo__reserva {
  background-image: url("../Multimedia/menu.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.boton__reserva {
  font-family: Aardvark;
  border: orangered;
  background-color: orangered;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px black;
  border-radius: 20px;
  padding: 15px;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
  margin: 200px 550px;
  transition: all 0.4s; }
  .boton__reserva:hover {
    background-color: tomato;
    font-weight: lighter; }

@media screen and (max-width: 426px) {
  .menu__index {
    width: 60%; }
  a.col-12.titulo {
    justify-content: unset; }
  iframe {
    width: 200px;
    height: 250px; }
  .col-3 {
    width: 40%; }
  .col-3.boton__reserva {
    width: 76%; } }

@media (min-width: 427px) and (max-width: 1025px) {
  .menu__index {
    width: 30%; }
  a.col-12.titulo {
    justify-content: unset; }
  iframe {
    height: 300px;
    width: 300px; }
  .col-3 {
    width: 17%; }
  .col-3.boton__reserva {
    width: 32%; } }

@font-face {
  font-family: Aardvark;
  src: url(../AARDC___.TTF); }

.fondo__index {
  background-image: url("../Multimedia/puerta.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: foto; }

.titulo {
  display: flex;
  align-self: baseline;
  justify-content: center;
  padding-top: 20px; }

.titulo__logo {
  width: 100px;
  height: 99px;
  margin-top: 0%;
  text-align: center;
  transition: all 0.2s; }
  .titulo__logo:hover {
    width: 105px;
    height: 104px; }

.navbar {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-self: center; }
  .navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px;
    transition: all 0.2s; }
    .navbar a:hover {
      color: #535252;
      font-size: larger; }

.ul {
  list-style: none; }

.aside__index {
  text-align: center;
  grid-area: aside;
  justify-self: center;
  align-self: center; }

.nosotros__index {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 40px;
  font-family: Aardvark; }

.parrafo {
  font-size: larger;
  text-align: center; }

.menu__index {
  border: orangered;
  background-color: #ff4400;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  box-shadow: 0 3px 5px black;
  border-radius: 20px;
  padding: 15px;
  font-size: larger;
  margin-bottom: 10px;
  transition: all 0.5s;
  text-align: center;
  justify-content: center;
  font-family: Aardvark; }
  .menu__index:hover {
    background-color: tomato;
    font-weight: lighter; }
