@charset "UTF-8";
.menu__indexmenu {
  background-color: #ff4400; }

.aside__index {
  text-align: center;
  justify-self: center;
  align-self: center; }

.nosotros__index {
  text-decoration: none; }

.logo-instagram, .logo-facebook {
  height: 21px;
  width: 26px;
  display: flex;
  color: transparent;
  justify-content: end; }

.logo-instagram:hover, .logo-facebook:hover {
  color: black; }

.logo-facebook {
  justify-content: start; }

.div__entradas, .fondo__nosotros, .div__platos, .div__bebidas, .div__postres, .fondo__reserva {
  background-image: url("../Multimedia/Entradas.jpg");
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.fondo__nosotros {
  background-image: url("../Multimedia/mision plaza 2.jpg");
  margin-top: 0%; }

.div__platos {
  background-image: url("../Multimedia/menu 1.jpg"); }

.div__bebidas {
  background-image: url("../Multimedia/cerveza.jpg"); }

.div__postres {
  background-image: url("../Multimedia/menu postre.jpg"); }

.fondo__reserva {
  background-image: url("../Multimedia/menu 2.jpg");
  height: 500px; }

.titulo__logo {
  height: 99px;
  width: 100px; }

.header {
  position: sticky;
  top: 0px;
  background-color: rgba(248, 71, 17, 0.972);
  z-index: 2;
  grid-area: header;
  display: flex;
  justify-content: center;
  justify-items: center; }

.logo-instagram, .logo-facebook {
  width: 26px;
  height: 21px;
  display: flex;
  color: transparent;
  justify-content: end; }
  .logo-instagram:hover, .logo-facebook:hover {
    color: black; }

.logo-facebook {
  width: 26px;
  height: 21px;
  display: flex;
  justify-content: start;
  color: transparent; }
  .logo-facebook:hover {
    color: black; }

.pie {
  text-align: center;
  background-color: rgba(248, 71, 17, 0.972);
  grid-area: pie; }

.fondo__nosotros {
  background-image: url("../Multimedia/mision plaza 2.jpg");
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0%;
  grid-area: nosotros; }

.section__parrafo {
  grid-area: parrafo; }

.parrafo__nosotros {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center; }

.contacto__div {
  border: solid 2px orangered;
  margin: 30px 80px 30px 80px;
  text-align: center;
  font-size: large; }

.contacto__titulo {
  font-size: larger; }

.div__entradas, .fondo__nosotros, .div__platos, .div__bebidas, .div__postres, .fondo__reserva {
  background-image: url("../Multimedia/Entradas.jpg");
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.menu__titulos {
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
  font-weight: bolder;
  color: black; }

.div__platos {
  background-image: url("../Multimedia/menu 1.jpg");
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.div__bebidas {
  background-image: url("../Multimedia/cerveza.jpg");
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.div__postres {
  background-image: url("../Multimedia/menu postre.jpg");
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.menu__texto2 {
  display: inline; }

.fondo__reserva {
  background-image: url("../Multimedia/menu 2.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.boton__reserva {
  border: orangered;
  background-color: orangered;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 3px 5px black;
  border-radius: 20px;
  padding: 15px;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
  margin: 200px 550px;
  transition: all 0.4s; }
  .boton__reserva:hover {
    background-color: tomato;
    font-weight: lighter; }

@media screen and (max-width: 768px) {
  .container-fluid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 2fr 0.8fr 0.1fr;
    grid-template-areas: "header header header " "foto foto foto " ". aside aside " "pie pie pie"; }
  .titulo {
    position: relative;
    left: 260px; } }

/* tamaño celular index*/
@media screen and (max-width: 425px) {
  .container-fluid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.2fr 2fr 0.8fr 0.1fr;
    grid-template-areas: "header  " "foto " "aside" "pie"; }
  .titulo {
    position: relative;
    left: 160px; } }

/* tamaño table nosotros*/
@media screen and (max-width: 768px) {
  .contenedor__nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 0.5fr 0.8fr 0.1fr;
    grid-template-areas: "header header header " "nosotros nosotros nosotros " ". parrafo parrafo " "pie pie pie"; }
  .titulo {
    position: relative;
    left: 260px; } }

/* tamaño celular nosotros*/
@media screen and (max-width: 425px) {
  .contenedor__nosotros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.2fr 0.5fr 0.8fr 0.1fr;
    grid-template-areas: "header " "nosotros " "parrafo" "pie"; }
  .titulo {
    position: relative;
    left: 160px; } }

.fondo__index {
  background-image: url("../Multimedia/mision plaza 1.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: foto; }

.titulo {
  text-align: center;
  position: relative;
  left: 140px;
  top: 20px; }

.titulo__logo {
  width: 100px;
  height: 99px;
  margin-top: 0%;
  text-align: center;
  transition: all 0.2s; }
  .titulo__logo:hover {
    width: 105px;
    height: 104px; }

.listas {
  list-style: none;
  text-align: center;
  display: inline; }
  .listas a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px;
    transition: all 0.2s; }
    .listas a:hover {
      color: #535252;
      font-size: larger; }

.ul {
  list-style: none; }

.aside__index {
  text-align: center;
  grid-area: aside;
  justify-self: center;
  align-self: center; }

.nosotros__index {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 40px; }

.parrafo {
  font-size: larger;
  text-align: center; }

.menu__index {
  border: orangered;
  background-color: #ff4400;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  box-shadow: 0 3px 5px black;
  border-radius: 20px;
  padding: 15px;
  font-size: larger;
  margin-bottom: 10px;
  transition: all 0.5s;
  text-align: center;
  justify-content: center; }
  .menu__index:hover {
    background-color: tomato;
    font-weight: lighter; }
